    <!-- Footer -->
    <footer class="footer section">
        <div class="footer-container container d-grid">
            <div class="company-data" id="contact">
                <a href="./index.html">
                    <h2 class="logo">GeekGrove</h2>
                </a>
                <p class="company-description">
                    "GeekGrove: The coolest place for YouTube enthusiasts! Discover awesome videos, tech updates, and learn new things. Join us to explore the best of YouTube in one spot!"
                </p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://github.com/twister904" target="_blank" class="list-link">
                            <i class="ri-github-line"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/saifimazhar8/" target="_blank" class="list-link">
                            <i class="ri-linkedin-line"></i>
                        </a>
                        <a href="mailto:saifimazhar8@gmail.com" target="_blank" class="list-link">
                            <i class="ri-mail-line"></i>
                        </a>
                        <a href="https://twister904.github.io/newportfolio/" target="_blank" class="list-link">
                            <i class="ri-share-box-line"></i>
                        </a>
                    </li>
                </ul>  
                <span class="copyright-notice">&copy;2023 GeekGrove.All right reserved</span>
            </div>
            <div>
                <h6 class="title footer-title" id="categories">
                    Categories
                </h6>
                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="/populartags/AI-ML" class="list-link">AI & ML</a>
                    </li>
                    <li class="list-item">
                        <a href="/populartags/webD" class="list-link">WEBD</a>
                    </li>
                    <li class="list-item">
                        <a href="/populartags/AppD" class="list-link">APPD</a>
                    </li>
                    <li class="list-item">
                        <a href="/populartags/AppD" class="list-link">Game development</a>
                    </li>
                    <li class="list-item">
                        <a href="/populartags/Data-Science" class="list-link">Data Science</a>
                    </li>
                    <li class="list-item">
                        <a href="/populartags/DSA" class="list-link">DSA</a>
                    </li>
                    <li class="list-item">
                        <a href="/populartags/Data-Science" class="list-link">Computer Science</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="title footer-title">
                    Courses
                </h6>
                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="/post/Placement-series" class="list-link">DSA Full courses</a>
                    </li>
                    <li class="list-item">
                        <a href="/post/freecodecamp" class="list-link">Learn C and C++</a>
                    </li>
                    <li class="list-item">
                        <a href="/post/aiml-course" class="list-link">Learn AI and ML</a>
                    </li>
                    <li class="list-item">
                        <a href="/latestvid/Machine-Learning" class="list-link">Open CV course</a>
                    </li>
                    <li class="list-item">
                        <a href="/post/webdcourse" class="list-link">Web development Full course</a>
                    </li>
                    <li class="list-item">
                        <a href="/post/python-course" class="list-link">Learn Python</a>
                    </li>
                    <li class="list-item">
                        <a href="/post/python-course" class="list-link">project links</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="title footer-title">
                    Channels
                </h6>
                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="https://www.youtube.com/@freecodecamp" target="_blank" class="list-link">FreeCodeCamp</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/@CodeHelp" target="_blank" class="list-link">Code Help</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank" class="list-link">Apna College</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/@CodeWithHarry" target="_blank" class="list-link">CodewithHarry</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/@GateSmashers" target="_blank"  class="list-link">Gate Smashers</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Swiper.js -->
    <script src="js\swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="js/main.js"></script>
</body>
</html>