<%- include('partials/header.ejs'); %>
    <!-- Featured articles -->
    <section class="featured-articles section section-header-offset">
        <div class="featured-articles-container container d-grid">
            <div class="featured-content d-grid">
                <div class="headline-banner">
                    <h3 class="headline fancy-border">
                        <span class="place-items-center">
                            Updates
                        </span> 
                    </h3>
                    <span class="headline-description">
                        Code-Help launched a placement series course starting from Dec
                    </span>
                </div>
                <a href="/post/Placement-series" class="article featured-article featured-article-1">
                    <img src="assests/images/pimg/code-help channel.jpg" alt="" class="article-image">
                    <span class="article-category">
                        Love Babbar | Code Help
                    </span>
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">
                            Placement-series
                        </h3>
                    </div>
                </a>
                <a href="/post/alphaplacementcourse" class="article featured-article featured-article-2">
                    <img src="assests/images/pimg/alpha course.jpg" alt="" class="article-image">
                    <span class="article-category">
                        Apna college
                    </span>
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Alpha placement course 2.0</h3>
                    </div>
                </a>
                <a href="/post/freecodecamp" class="article featured-article featured-article-3">
                    <img src="assests/images/pimg/c++ fcc.jpg" alt="" class="article-image">
                    <span class="article-category">
                        FreeCodeCamp
                    </span>
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">
                            Free courses and video on many topics
                        </h3>
                    </div>
                </a> 
            </div>
            <!--sidebar-->
            <div class="sidebar d-grid">
                <h3 class="title featured-content-title">Trending Courses</h3>
                <a href="/post/dsa-full-course" class="trending-news-box">
                    <div class="trending-news-image-box">
                        <span class="trending-number place-items-center">01</span>
                        <img src="assests/images/pimg/code-help channel.jpg" alt="" class="article-image">
                    </div>
                    <div class="trending-news-data">
                        <div class="article-data">
                            <span>Dec 23 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">DSA full course by Code-Help</h3>
                    </div>
                </a>
                <a href="/post/python-course" class="trending-news-box">
                    <div class="trending-news-image-box">
                        <span class="trending-number place-items-center">02</span>
                        <img src="assests/images/pimg/pythontrend.jpg"  class="article-image">
                    </div>
                    <div class="trending-news-data">
                        <div class="article-data">
                            <span>Dec 23th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Python course | FreeCodeCamp</h3>
                    </div>
                </a>
                <a href="/post/webdcourse" class="trending-news-box">
                    <div class="trending-news-image-box">
                        <span class="trending-number place-items-center">03</span>
                        <img src="assests/images/pimg/code-help channel.jpg"  class="article-image">
                    </div>
                    <div class="trending-news-data">
                        <div class="article-data">
                            <span>Dec 23th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Web development course|Code-Help</h3>
                    </div>
                </a>
                <a href="/post/c++course" class="trending-news-box">
                    <div class="trending-news-image-box">
                        <span class="trending-number place-items-center">04</span>
                        <img src="assests/images/pimg/c++ fcc.jpg"  class="article-image">
                    </div>
                    <div class="trending-news-data">
                        <div class="article-data">
                            <span>Dec 23th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">C++ full course|FreeCodeCamp</h3>
                    </div>
                </a>
                <a href="/post/aiml-course" class="trending-news-box">
                    <div class="trending-news-image-box">
                        <span class="trending-number place-items-center">05</span>
                        <img src="assests/images/pimg/ai and ml fcc.png"  class="article-image">
                    </div>
                    <div class="trending-news-data">
                        <div class="article-data">
                            <span>Dec 23th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">AI Ml course|FreeCodeCamp</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- latest videos-->
    <section class="quick-read section">
        <div class="container">
            <h2 class="title section-title"   data-name="Latest Videos">Latest Videos</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <a href="/latestvid/DSA" class="article swiper-slide">
                        <img src="assests/images/pimg/dsa img.png" alt="" class="article-image latestvid" data-img-id="dsa">
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>Dec 5th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>8 min read</span>
                            </div>
                            <h3 class="title article-title">DSA</h3>
                        </div>
                    </a>
                    <a href="/latestvid/C++" class="article swiper-slide">
                        <img src="assests/images/pimg/c++ latestvid.png" alt="" class="article-image latestvid" data-img-id="c++">
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>Dec 5th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>8 min read</span>
                            </div>
                            <h3 class="title article-title">C++</h3>
                        </div>
                    </a>
                    <a href="/latestvid/Reactjs" class="article swiper-slide">
                        <img src="assests/images/pimg/reactjs let.jpg" alt="" class="article-image latestvid" data-img-id="rjs">
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>Dec 5th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>8 min read</span>
                            </div>
                            <h3 class="title article-title">Reactjs</h3>
                        </div>
                    </a>
                    <a href="/latestvid/Data-Science" class="article swiper-slide">
                        <img src="assests/images/pimg/data-sci let.jpg" alt="" class="article-image latestvid" data-img-id="ds">
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>Dec 5th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>8 min read</span>
                            </div>
                            <h3 class="title article-title">Data-science</h3>
                        </div>
                    </a>
                    <a href="/latestvid/Machine-Learning" class="article swiper-slide">
                        <img src="assests/images/pimg/ml let.jpg" alt="" class="article-image latestvid" data-img-id="ml">
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>Dec 5th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>8 min read</span>
                            </div>
                            <h3 class="title article-title">Machine-Learning</h3>
                        </div>
                    </a>
                </div>
                <div class="swiper-button-prev swiper-controls"></div>
                <div class="swiper-button-next swiper-controls"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- yt channels -->
    <section class="older-posts section">
        <div class="container">
            <h2 class="title section-title" data-name="Youtube Channels">Youtube Channels</h2>
            <div class="older-posts-grid-wrapper d-grid">
                <a href="https://www.youtube.com/@freecodecamp" target="_blank" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="assests/images/pimg/fcc channel.png" alt="" class="article-image">
                    </div>
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">FreeCodeCamp</h3>
                        <p class="article-description">
                            
FreeCodeCamp is a nonprofit offering free, hands-on coding challenges and courses. Launched in 2014, it provides a comprehensive curriculum, emphasizes real-world projects, and fosters a supportive community. Completion earns certifications, making it an accessible path to web development skills.
                        </p>
                    </div>
                </a>
                <a href="https://www.youtube.com/@CodeHelp" target="_blank" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="assests/images/pimg/code-help channel.jpg" alt="" class="article-image">
                    </div>
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Code Help</h3>
                        <p class="article-description">
                            CodeHelp by Babbar is a popular coding community and YouTube channel created by love Babbar. Known for clear explanations and problem-solving techniques, it aids programmers in enhancing their coding skills through tutorials and engaging content..
                        </p>
                    </div>
                </a>
                <a href="https://www.youtube.com/@CodeWithHarry" target="_blank" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="assests/images/pimg/codewithharry chann.jpg" alt="" class="article-image">
                    </div>
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Code-with-Harry</h3>
                        <p class="article-description">
                            CodeWithHarry, run by Harry Bhai (Haris Khan), is a prominent Indian programming channel offering tutorials on a variety of languages, web development, and more. Known for its beginner-friendly approach, the channel has garnered a large audience seeking quality coding education.
                        </p>
                    </div>
                </a>
                <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="assests/images/pimg/apna college chann.jpg" alt="" class="article-image">
                    </div>
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Apna College</h3>
                        <p class="article-description">
                            Aman Dhattarwal's "Apna College" is an online education platform where he provides educational content related to various academic subjects. The platform aims to assist students in their studies and exam preparations, offering lectures, study materials, and guidance.
                        </p>
                    </div>
                </a>
            </div>
            <div class="see-more-container">
                <a href="/ytchannels" class="btn see-more-btn place-items-center">see more<i class="ri-arrow-right-s-line"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- Popular tags -->
    <section class="popular-tags section">
        <div class="container">
            <h2 class="title section-title" data-name="popular tags">Popular tags</h2>
            <div class="popular-tags-container d-grid">
                <a href="/populartags/AI-ML" class="article">
                    <span class="tag-name">#AI ML</span>
                    <img src="assests/images/pimg/popular tags/thumbnail-ai-ml-600x400-1.jpg" alt="" class="article-image">
                </a>
                <a href="/populartags/Data-Science" class="article">
                    <span class="tag-name">#Data Science</span>
                    <img src="assests/images/pimg/popular tags/data-scince.jpg" alt="" class="article-image">
                </a>
                <a href="/populartags/DSA" class="article">
                    <span class="tag-name">#DSA</span>
                    <img src="assests/images/pimg/popular tags/dsa.png" alt="" class="article-image">
                </a>
                <a href="/populartags/webD" class="article">
                    <span class="tag-name">#WebD</span>
                    <img src="assests/images/pimg/popular tags/webd.jpg" alt="" class="article-image">
                </a>
                <a href="/populartags/AppD" class="article">
                    <span class="tag-name">#AppD</span>
                    <img src="assests/images/pimg/popular tags/appd.png" alt="" class="article-image">
                </a>
                <a href="/populartags/C++" class="article">
                    <span class="tag-name">#C++</span>
                    <img src="assests/images/pimg/popular tags/c++.jpg" alt="" class="article-image">
                </a>
                <a href="/populartags/Java" class="article">
                    <span class="tag-name">#Java</span>
                    <img src="assests\images\pimg\popular tags\java.png" alt="" class="article-image">
                </a>
                <a href="/populartags/Python" class="article">
                    <span class="tag-name">#Python</span>
                    <img src="assests/images/pimg/popular tags/python.jpg" alt="" class="article-image">
                </a>
                <a href="/populartags/DBMS" class="article">
                    <span class="tag-name">#DBMS</span>
                    <img src="assests/images/pimg/popular tags/dbms.jpg" alt="" class="article-image">
                </a>
            </div>
        </div>
    </section>
    <!-- Newsletter -->
    <section class="newsletter section">
        <div class="container">
            <h2 class="title section-title" data-name="newsletter">Newsletter</h2>
            <div class="form-container-innner">
                <h6 class="title newsletter-title">Subscribe to GeekGrove</h6>
                <p class="newsletter-description">
                    "Stay updated with the latest trends, educational insights, and exciting content! Subscribe to our newsletter and join a community passionate about learning and growth.</p>
                <form action="/subscribe" method="post" class="form">
                    <input type="email" class="form-input" placeholder="Enter Your Email address" name="subemail">
                    <button class="btn form-btn" type="submit">
                        <i class="ri-mail-send-line"></i>
                    </button>
                </form>

            </div>

        </div>
    </section>

    <%- include('partials/footer.ejs'); %>