<%- include('partials/header.ejs'); %>

<section class="signup section-header-offset">
    <div class="container">
        <h2 class="title section-title" data-name="Sign Up">Sign Up</h2>
        <% if (locals.error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
        <form action="/signup" method="post" class="auth-container">
            <label for="firstName">firstName:</label>
            <input type="text" id="name" name="firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="college">College:</label>
            <input type="text" id="college" name="college" required>

            <label for="course">Course:</label>
            <input type="text" id="course" name="course" required>

            <label for="lastName">preferred topics:</label>
            <input type="text" id="preferredTopics" name="preferredTopics" placeholder="enter one by one separated by comma" >

            <label for="lastName">preferred Courses:</label>
            <input type="text" id="preferredCourses" name="preferredCourses" placeholder="enter one by one separated by comma" >

            <label for="lastName">preferred Channels:</label>
            <input type="text" id="preferredChannels" name="preferredChannels" placeholder="enter one by one separated by comma" >

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign Up</button>
        </form>
    </div>
</section>

<%- include('partials/footer.ejs'); %>
